/*Inicio del RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin del RESET*/










/*

#centradobloque{
	display:block;
	margin-left: auto;
	margin-right: auto;
	
}

.center {
    width: 1080px;
    margin: 0 auto;
}

body{	
	
	font-size:100%;
	font-family: arial;
	background-color: #F1DC97
}



h1{
	font-size: 300%;
	font-family: verdana;
}

nav li{
	display:inline;
	font-size: 1.5em;
	background-color: #EEAE10;
	border-radius:1.5px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
}

aside{
	float:left;
	height:1040px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px, solid#D9A825, "verdana";


}

blockquote{
	background-color: #D77E27;
	border-radius: 5px;
	padding: 20px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
}



section{
	margin: 20px auto;
	padding-left: 20px;

}


figure{
	float:left;
	padding: 3px;

}

figure img{
	padding:4px;
	border: 3px solid#E48D1A ;
	border-radius: 20px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
}

figure img:hover {
	-webkit-transform: scale(1.2);
}

figcaption{
	margin-top:5px;
	text-align: center;

	font-size:62%;

}

footer{
	clear:left;
	margin: 10px 80px;

}

--------hovers---------
nav li:hover {
	-webkit-transform: scale(1.2);
}
aside blockquote:hover {
	-webkit-transform: scale(1.2);
}

*/