@font-face {
	font-family: "myUbuntu";
	src: url("fonts/Ubuntu-Regular.ttf"),format("ttf");
}

:root{
	--myOrange: #FF882B;
	--myBlue:#282E43;
	--darkWhite:#DDDDDD;
	--lightWhite:#EEEEEE;
    --darkBlue:#242631;
}
body{
	margin:0;
	padding:0;
	font-family: myUbuntu, Ubuntu, sans-serif;
	max-height: 100vh;
    background-color: var(--lightWhite);
    position: relative;
}
header{
    width: 100vw;
    height: 100px;
    background-color: var(--myBlue);
    border-bottom: solid var(--myOrange) 5px;
}